<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhnBQXxAwxpEgJzsX6fbs4FzxfdMGUpfE</string>
	<key>GCM_SENDER_ID</key>
	<string>842551672425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reachingTickTech</string>
	<key>PROJECT_ID</key>
	<string>reaching-47494</string>
	<key>STORAGE_BUCKET</key>
	<string>reaching-47494.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842551672425:ios:7e8bc12dc10284b4666cf8</string>
</dict>
</plist>